<ul>
  <% @article.errors.full_messages.each.each do |msg| %>
    <li>
      <%= msg %>
    </li>
  <% end %>
</ul>

<%= form_for @article do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>  
  <p>
    <%= f.submit %>
  </p>
<% end %>
<p>
  <%= link_to 'Show', article_path(@article) %> | 
  <%= link_to 'Back to article listing', articles_path %>
</p>