<h1> Show Selected Article </h1>
<p>Title: <%= @article.title %> </p>
<p>Description: <%= @article.description %> </p>
<p>
  <%= link_to 'Edit', edit_article_path(@article) %> | 
  <%= link_to 'Back to article listing', articles_path %>
</p>